.card-home {
    margin-top: 0px !important;
}

.transparent-back {
    background-color: transparent;
}

/deep/ .mat-step-icon-selected {
    background-color: #f44336 !important;
}
/deep/ .mat-step-icon-state-done {
    background-color: #f44336 !important;
}
/deep/ .mat-step-icon-state-edit {
    background-color: #f44336 !important;
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #f44336 !important;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color: #f44336 !important;
    background-color: #f44336 !important;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #f44336 !important;
}

/deep/ .main-panel .main-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/deep/ .carousel-slide {
    height: 450px !important;
}
.button-color-side {
    color: #fff;
}
.button-color-toggle {
    color: #000;
}

.icon-align {
    padding-top: 8px;
    padding-left: 36px;
}

.icon-size {
    height: 40px;
    width: 40px;
    font-size: 40px;
}

.maps-style {
    margin: 10px 0 !important;
    text-align: center;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
